*{
    margin: 0;
    padding: 0;
}

:root{
    --first-color: #CCD4DD;
    --second-color: #141E1D;
    --third-color: #446063;
    --greenColor: #45AC42;
}


.wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    background-color: var(--first-color);
}


.catalog{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px auto;
}



.games{
    width: 400px;
    height: 340px;
    box-shadow: 0px 0px 10px 3px var(--second-color);
    border-radius: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.games svg{
    width: 100%;
    border-radius: 1.5em 1.5em 0 0;
    align-self: flex-start;
}

.games img{
    height: 240px;
    border-radius: 1.5em 1.5em 0 0;
}

.panel-for-img{
    width: 100%;
    height: 240px;
    align-self: flex-start;
    border-radius: 1.5em 1.5em 0 0;
    background-image: url(./../img/Gerb_Altai.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

#Russia svg{
    fill: var(--first-color);
    stroke: var(--second-color);
    background: linear-gradient(white, white,white, blue,blue, red, red);
}

#RussiaHARD svg{
    fill: var(--first-color);
    stroke: var(--first-color);
    background: linear-gradient(45deg, black, red, black);
}

.games p{
    width: 47%;
    font-size: 1.1em;
    color: var(--second-color);
    align-content: center;
    text-align: center;
}

.games>.difficult{
    width: 90%;
}

button[type = "submit"]{
    width: 80%;
    border-radius: 1em;
    height: 30px;
    border: none;
    background-color: var(--greenColor);
    box-shadow: 2px 2px 3px 0px var(--second-color);
    margin: 10px auto;
    font-weight: bold;
}

.footer{
    background-color: var(--second-color);
    width: 100%;
    height: 1000px;
}

@media (max-width:450px)
{
    .games p{
        font-size: 0.8em;
    }
}