*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

:root{
    --first-color: #efede3;
    --second-color: #302f2c;
    --third-color: #805539;
}

.wrap{
    width: 100%;
    height: 1300px;
    position: relative;
    /* background-image: url(./../img/WOW.jpg); */
    background-color: white;
    background-size: cover;
}

#toMain{
    display: flex;
    position: absolute;
    align-items: center;
    color: #82877e;
    top: 10px;
    left: 20px;
    font-size: 20px;
    z-index: 99999;
    user-select: none;
}

#toMain>svg{
    width: 50px;
    height: 30px;
}


#about{
    display: none;
    position: absolute;
    user-select: none;
    background-color: var(--first-color);
    border: 1px solid var(--second-color);
    box-shadow: 0px 0px 1px 1px var(--second-color);
    color: var(--second-color);
    font-size: 16px;
    border-radius: 1.5em;
    padding: 5px;
    z-index: 9999;
}

button#startGame{
    display: block;
    position: absolute;
    width: 300px;
    height: 80px;
    background-color: var(--third-color);
    color: var(--first-color);
    text-align: center;
    align-content: center;
    border-radius: 1.5em;
    border: none;
    box-shadow: 0px 0px 7px 3px var(--second-color);
    font-size: 3em;
    top: 350px;
    left: 450px;
    z-index: 99999;
    cursor: pointer;
    user-select: none;
}

#endGame{
    display: none;
    flex-wrap: wrap;
    position: absolute;
    top: 250px;
    left: 550px;
    z-index: 9999;
    width: 500px;
    height: 300px;
    background-color: var(--third-color);
    border-radius: 1.5em;
    padding: 10px;
    transition: 2s;
    box-shadow: 0px 0px 10px 5px var(--second-color);
}

#endGame>p{
    font-size: 40px;
    text-align: center;
    color: var(--first-color);
    font-weight: bold;
}

#endGame>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

#endGame>div>a{
    text-decoration: none;
    color: var(--first-color);
    width: 40%;
    height: 30px;
    background-color: var(--second-color);
    color: var(--first-color);
    border-radius: 1.5em;
    transition: 0.5s;
    text-align: center;
    align-content: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#endGame>div>a:hover{
    transition: 0.5s;
    transform: scale(1.2);
}




.puzsvg{
    position: absolute;
    stroke: var(--second-color);
    touch-action: none;
}

.puzzle{
    touch-action: none;
}

.AcceptTouchAction{
    touch-action:auto;
}

.wrap_game{
    position: relative;
    width: 1200px;
    cursor:grab;
}


.blockDrag{
    touch-action: auto;
}


.puzzle:hover{
    opacity: 0.6;
}


.wrap_game>svg{
    fill: var(--first-color);
    stroke: var(--second-color);
    /* background-color: var(--third-color); */
    /* background-image: url(./../img/test_1.jpg); */
    /* box-shadow: 0px 0px 5px 5px grey; */
    background-position: center;
    background-size: cover;
    /* background-color: rgb(181, 145, 92); */

}



